[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = ">=2.3.0"
termcolor = "*"
pyOpenSSL = "*"


[requires]

python_version = "3.6"