-i https://pypi.python.org/simple/
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
idna==2.8
pycparser==2.20
pyopenssl==19.0.0
requests==2.21.0
six==1.15.0
termcolor==1.1.0
urllib3==1.24.2
